nav {
	z-index: 1;
}

.navbar-inverse {
	background-color: black;
}

.background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	z-index: 0;
}
.background-home {
	background-image: url(images/img_Home.jpg);
} 

.login-form-container:before {
	position: absolute;
	bottom: -100px;
	top: 0;
	left: 100px;
	content: "";
	display: block; 
	width: 100%;
	background-color: rgba(0,0,0,0.7);
}

dt {
	margin-top: 30px;
}

.logo {
	margin-left: -100px;
}

.home-text {
	padding: 20px;
	padding-right: 30px;
	padding-left: 35px;
	text-align: center;
	color: white;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	asfont-family: 'Lato', sans-serif;
	asfont-family: 'PT Sans', sans-serif;
	asfont-family: 'Hind', sans-serif;
}

.login-button {
	border-radius: 20px;
	padding-right: 55px;
	padding-left: 55px; 
	font-size: 12px;
	text-transform: uppercase;
}

.color-check {
	color: white;
}

.links {
	color: white;
}

.links:hover {
	color: white;
	text-decoration: underline;
}






